@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

body {
  margin: 0;
}

body, button, select, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select, fieldset, button, table, input {
  font-size: 14px;
}

code, .monospace-font, .CodeMirror {
  font-family: Consolas, 'Courier New', monospace;
}

.CodeMirror {
  font-size: 1rem;
}

/******************************************************************************
/* Left area (code editor and error messages)
/******************************************************************************/

.code-editor, .error-messages {
  border: 1px solid;
}

.error-message {
  color: #a00;
}

.breakpoints-gutter {
  width: .5em;
  margin-left: 5px;
}
.breakpoint {
  color: #d00;
}

.react-codemirror2, .CodeMirror {
  height: 100%;
}

.cm-hidra-instruction {
  font-weight: bold;
  color: purple;
}

.cm-hidra-directive {
  font-weight: bold;
  color: blue;
}

.cm-hidra-string {
  font-style: italic;
  color: darkred;
}

.cm-hidra-comment {
  font-style: italic;
  color: green;
}

/******************************************************************************
/* Middle area (memory tables)
/******************************************************************************/

table {
  border: 1px solid rgb(103, 103, 116);
  border-collapse: collapse;
}

/* Inner borders */
td + td, th + th {
  border-left: 1px solid #ddd;
}
tr + tr {
  border-top: 1px solid #ddd;
}

/* Sticky header */
th {
  padding: 4px;
  font-weight: unset;
  background-color: #eee;
  padding-left: 4px;
  padding-right: 12px;
  text-align: left;
  position: sticky;
  top: 0;
}

table input {
  border: none;
}

td {
  padding: 4px;
}

.table-address {
  color: gray;
}

.table-value {
  width: 50px;
}

/******************************************************************************
/* Right area (machine)
/******************************************************************************/

select {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

fieldset {
  border: 1px solid #999;
  margin-top: 6px;
  border-radius: 4px;
}
fieldset legend {
  padding-left: 4px;
  padding-right: 4px;
}

.machine-flag {
  width: 1.25em;
  height: 1.25em;
  transform: translate(0, -0.125em);
  background-color: white;
  border: 1px solid #666;
  border-radius: 50%;
  appearance: none;
}

.machine-flag:checked {
  background-color: #9e9;
}

.machine-register-display {
  border: 1px solid #444;
  border-radius: 3px;
}

button {
  background-color: #eee;
  color: #222;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
button:hover:not([disabled]) {
  background-color: #ddd;
}
button:active:not([disabled]) {
  background-color: #aaa;
}
button:disabled {
  cursor: auto;
  color: #aaa;
}

.tooltip p {
  margin: 0;
  margin-top: 0.35rem;
}

/******************************************************************************
/* Busy state
/******************************************************************************/

body:not(.is-busy) .show-if-busy {
  display: none !important;
}

body.is-busy .hide-if-busy {
  display: none !important;
}
