@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

/******************************************************************************
/* Colors
/******************************************************************************/

:root {
  /* Base colors */
  --color-text: black;
  --color-text-secondary: black;
  --color-background: white;

  /* Borders */
  --color-area-border: #889;
  --color-sub-area-border: #444;
  --color-inner-border: #ddd;

  /* Menu */
  --color-navbar: rgb(143, 90, 168);
  --color-navbar-text: white;
  --color-navbar-item: #ecf;
  --color-navbar-item-hover: #fdf;
  --color-navbar-submenu-item: white;
  --color-navbar-submenu-item-hover: #ecf;
  --color-navbar-submenu-checkbox-unchecked: white;
  --color-navbar-submenu-checkbox-checked: hsl(280, 50%, 75%);
  --color-navbar-submenu-checkbox-border: #868;
  --color-navbar-submenu-separator: #bbb;

  /* Code */
  --color-breakpoint-marker: #d00;
  --color-pc-sp-arrow: #444;
  --color-current-instruction: rgb(240, 224, 255);

  /* Syntax highlight */
  --color-code-instruction: purple;
  --color-code-directive: blue;
  --color-code-string: darkred;
  --color-code-comment: green;

  /* Error messages */
  --color-error-message: #a00;
  --color-error-message-hover: #e00;

  /* Machine select */
  --color-machine-select: #eee;

  /* Flags */
  --color-flag-unchecked: white;
  --color-flag-checked: #9e9;
  --color-flag-border: #666;

  /* Machine buttons */
  --color-machine-button: #eee;
  --color-machine-button-hover: #ddd;
  --color-machine-button-active: #aaa;
  --color-machine-button-disabled-text: #aaa;
  --color-machine-button-text: #222;
  --color-build-button: hsl(270, 43%, 67%);
  --color-build-button-hover: hsl(270, 38%, 60%);
  --color-build-button-active: hsl(270, 28%, 54%);
  --color-build-button-text: white;

  /* Memory tables */
  --color-memory-cell-border: #ddd;
  --color-memory-header: #eee;
  --color-memory-address: gray;
}

/******************************************************************************
/* General
/******************************************************************************/

body {
  margin: 0;
}

body, input {
  color: var(--color-text);
  background-color: var(--color-background);
}

/******************************************************************************
/* Fonts
/******************************************************************************/

body, button, select, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, .monospace-font, .CodeMirror {
  font-family: Consolas, 'Courier New', monospace;
}

select, fieldset, button, table, .memory-table, input, .pc-sp-arrow {
  font-size: 14px;
}

.CodeMirror {
  font-size: 1rem;
}

/******************************************************************************
/* Navigation bar
/******************************************************************************/

.navbar, .navbar-item {
  font-size: 16px;
}

.navbar {
  background-color: var(--color-navbar);
  color: var(--color-navbar-text);
}

/* Menu item */
.navbar-item {
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: unset;
  color: var(--color-navbar-item);
}
.navbar-item:hover {
  color: var(--color-navbar-item-hover);
}

/* Submenu item */
.navbar-submenu-item {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  text-align: left;
  background-color: var(--color-navbar-submenu-item);
}
.navbar-submenu-item:hover {
  background-color: var(--color-navbar-submenu-item-hover);
}

/* Submenu checkbox */
.navbar-submenu-checkbox {
  border-radius: 4px;
  padding: 8px;
}
.navbar-submenu-checkbox,
.navbar-submenu-checkbox * {
  cursor: pointer;
}
.navbar-submenu-checkbox:hover {
  background-color: var(--color-navbar-submenu-item-hover);
}
.navbar-submenu-checkbox input {
  width: 1.25em;
  height: 1.25em;
  margin-right: 4px;
  border: 2px solid var(--color-navbar-submenu-checkbox-border);
  border-radius: 3px;
  appearance: none;
  background-color: var(--color-navbar-submenu-checkbox-unchecked);
}
.navbar-submenu-checkbox input:checked {
  background-color:  var(--color-navbar-submenu-checkbox-checked);
}

/* Menu separator */
.navbar-submenu-separator {
  width: calc(100%-8px);
  margin: 4px;
  border-top: 1px solid var(--color-navbar-submenu-separator)
}

.tippy-box {
  box-shadow: none !important;
}

/******************************************************************************
/* Left area (code editor and error messages)
/******************************************************************************/

/* Code editor area */
.code-editor {
  border: 1px solid var(--color-area-border);
}
.react-codemirror2, .CodeMirror {
  height: 100%;
}

/* Gutters */
.CodeMirror-gutters,
.CodeMirror-gutter-elt {
  cursor: pointer;
}
.CodeMirror-linenumber {
  padding-left: 3px !important;
}
.breakpoints-gutter {
  width: .5em;
  margin-left: 3px;
}
.breakpoint-marker {
  color: var(--color-breakpoint-marker);
}
.current-instruction-gutter {
  width: .5em;
  margin-left: 3px;
}

/* PC/SP arrow (also used in tables) */
.pc-sp-arrow {
  color: var(--color-pc-sp-arrow);
}

/* Line state */
.current-instruction-line, .current-instruction-line input:not(:focus) {
  background-color: var(--color-current-instruction);
}

/* Code highlighter */
.cm-hidra-instruction {
  font-weight: bold;
  color: var(--color-code-instruction);
}
.cm-hidra-directive {
  font-weight: bold;
  color: var(--color-code-directive);
}
.cm-hidra-string {
  font-style: italic;
  color: var(--color-code-string);
}
.cm-hidra-comment {
  font-style: italic;
  color: var(--color-code-comment);
}

/* Error messages area */
.error-messages-area {
  border: 1px solid var(--color-area-border);
}
.error-message {
  color: var(--color-error-message);
  cursor: pointer;
}
.error-message:hover {
  color: var(--color-error-message-hover);
}

/******************************************************************************
/* Middle area (machine)
/******************************************************************************/

/* Select (machine select) */
select {
  color: var(--color-text-secondary);
  background-color: var(--color-machine-select);
  border: none;
  border-radius: 4px;
  padding: 8px;
}

/* Area grouping */
fieldset {
  color: var(--color-text-secondary);
  border: 1px solid var(--color-area-border);
  margin-top: 6px;
  margin-left: unset;
  margin-right: unset;
  border-radius: 4px;
}
fieldset legend {
  padding: 0 4px;
}

/* Flags */
.machine-flag {
  width: 1.25em;
  height: 1.25em;
  transform: translate(0, -0.125em);
  background-color: var(--color-flag-unchecked);
  border: 1px solid var(--color-flag-border);
  border-radius: 50%;
  appearance: none;
}
.machine-flag:checked {
  background-color: var(--color-flag-checked);
}

/* Registers */
.machine-register-display {
  border: 1px solid var(--color-sub-area-border);
  border-radius: 3px;
}

/* Buttons */

.machine-button, .build-button {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.machine-button {
  background-color: var(--color-machine-button);
  color: var(--color-machine-button-text);
}
.machine-button:hover:not([disabled]) {
  background-color: var(--color-machine-button-hover);
}
.machine-button:active:not([disabled]) {
  background-color: var(--color-machine-button-active);
}
.machine-button:disabled {
  cursor: auto;
  color: var(--color-machine-button-disabled-text);
}

.build-button {
  background-color: var(--color-build-button);
  color: var(--color-build-button-text);
}
.build-button:hover {
  background-color: var(--color-build-button-hover);
}
.build-button:active {
  background-color: var(--color-build-button-active);
}

/* Hints */
.tooltip p {
  margin: 0;
  margin-top: 0.35rem;
}

/* Character display */
.display {
  margin: 6px 2px;
  border-radius: 3px;
  border: 1px solid var(--color-sub-area-border);
}
.display-char {
  font-size: 16px;
  padding: 4px 0;
  box-sizing: border-box;
  text-align: center;
  white-space: pre;
}
.display-char + .display-char {
  border-left: 1px solid var(--color-inner-border);
}

/******************************************************************************
/* Right area (memory tables)
/******************************************************************************/

.memory-table {
  border: 1px solid var(--color-area-border);
  border-collapse: collapse;
  box-sizing: border-box;
  display: table;
}
.memory-header-row, .memory-body-row {
  color: var(--color-text-secondary);
  box-sizing: border-box;
  display: table-row;
}
.memory-header-cell, .memory-body-cell {
  box-sizing: border-box;
  display: table-cell;
  white-space: nowrap;
}

/* Inner borders */
.memory-body-cell + .memory-body-cell {
  border-left: 1px solid var(--color-memory-cell-border);
}
.memory-body-row + .memory-body-row {
  border-top: 1px solid var(--color-memory-cell-border);
}

/* Header */
.memory-header-row {
  background-color: var(--color-memory-header);
}
.memory-header-cell {
  padding: 4px;
  font-weight: unset;
  color: var(--color-text-secondary);
  background-color: var(--color-memory-header);
  padding-left: 4px;
  padding-right: 12px;
  text-align: left;
  position: sticky;
  top: 0;
}

.memory-body-cell input {
  color: var(--color-text-secondary);
  border: none;
}

.memory-body-cell {
  padding: 4px;
}

.memory-address {
  color: var(--color-memory-address);
}

.memory-value {
  width: 50px;
}

.memory-pc-sp-cell {
  cursor: pointer;
}

/******************************************************************************
/* Busy state
/******************************************************************************/

body:not(.is-busy) .show-if-busy {
  display: none !important;
}
body.is-busy .hide-if-busy {
  display: none !important;
}
